html, body {
  background: #000;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  flex-direction: column;
}

body {
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  overflow: hidden;
  touch-action: none;
  position: relative;
}

main {
  position: relative;
  width: min(100vh,100vw);
  height: min(100vh,100vw);
}

canvas {
  z-index: 100;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  cursor: none; /* hide mouse cursor */
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}



.large {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.large > div {
  padding: 10px;
}

.small {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 10px;
}
.small > div {
  display: flex;
  flex-grow: 2;
}
.small > div > div {
  align-items: center;
  justify-content: center;
  display: flex; flex-grow: 2;
  margin: 10px;
  background: #222;
  border-radius: 6px;
}

/*
Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
*/
@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
  .large {
    display: none;
  }
}

/*
Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {
*/
@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
  .small {
    display: none;
  }
}
